<h1>Welcome to Scrabble Score</h1>
  <form action="/word">
    <div class="form-group">
       <label for="word">Put in a letter?
  </label>
       <input id="word" name="word" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-success">Send</button>
  </form>
